.row2Item1 {
  position: relative;
  overflow: hidden;
  background: var(--backgroundIneriorSolutions);

  @media (max-width: 425px) {
    height: 373px;
  }
  img {
    width: 100% !important;
    height: 100% !important;
    transition: transform 0.2s;
    object-fit: contain;
  }

  &:hover img {
    transform: scale(1.04);
  }

  &:hover .link > * {
    right: -10px;
  }
}
.title {
  margin-bottom: 12px;
  font-family: var(--fontFamilyPoppins);
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  color: var(--neutral-07100);
  letter-spacing: -0.6px;

  @media (max-width: 768px) {
    margin-bottom: 5px;
    font-size: 28px;
    line-height: 34px;
  }
}
.underLineLink {
  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
  }
}
.cardTitle {
  position: absolute;
  bottom: 40px;
  left: 32px;
  z-index: 2;
  @media (max-width: 425px) {
    bottom: 29px;
    left: 32px;
  }
}
