.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-top: 32px;
}

.flexContainer {
  display: flex;
  gap: 24px;
  @media (max-width: 425px) {
    gap: 19px;
  }
}

.row1 {
  flex-basis: 50%;
}

.row2 {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  gap: 24px;
  @media (max-width: 425px) {
    gap: 16px;
  }
}

@media (max-width: 650px) {
  .flexContainer {
    flex-direction: column;
  }
  .row2 {
    flex: 0 0 auto;
    height: 372px;
  }
}
