.shopTitle {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 392px;
}
.shopImage {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}

.shopText {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopNavigation {
  display: flex;
  gap: 4px;
}

.shopHome {
  position: relative;
  font-family: var(--fontFamilyInter);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  font-feature-settings: 'clig' off, 'liga' off;
  line-height: 24px;
  color: var(--black-600);
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-width: 48px;
    height: 48px;
    content: '';
    transform: translate(-50%, -50%);
  }
  &:hover {
    color: var(--neutral-07100);
  }
}
.shopIcon {
  transform: translate(00%, 50%);
}
.shopPage {
  padding-left: 12px;
  font-family: var(--fontFamilyInter);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  font-feature-settings: 'clig' off, 'liga' off;
  line-height: 24px;
  color: var(--black-900);
}
.shopT {
  padding-top: 24px;
  font-family: var(--fontFamilyPoppins);
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  font-feature-settings: 'clig' off, 'liga' off;
  line-height: 58px;
  color: #000;
  letter-spacing: -1px;
  @media (max-width: 576px) {
    font-size: 40px;
    line-height: 44px;
  }
}
.shopP {
  padding-top: 24px;
  font-family: var(--fontFamilyInter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: 'clig' off, 'liga' off;
  line-height: 32px;
  color: var(--black-900);
  text-align: center;
  @media (max-width: 576px) {
    font-size: 16px;
    line-height: 26px;
  }
}
