.h3 {
  font-family: var(--fontFamilyPoppins);
  font-size: clamp(40px, 6vw, 54px);
  font-weight: 500;
  line-height: clamp(44px, 6vw, 58px);
  letter-spacing: -0.4px;
  @media (max-width: 576px) {
    letter-spacing: -0.6px;
  }
}
