.h7 {
  font-family: var(--fontFamilyPoppins);
  font-size: clamp(16px, 4vw, 20px);
  font-weight: 500;
  line-height: clamp(26px, 2vw, 28px);
  color: var(--neutrals-2);
  @media (max-width: 576px) {
    font-family: var(--fontFamilyInter);
    font-weight: 600;
  }
}
