.country {
  display: flex;
  flex-direction: column;
  max-width: 50px;
  margin: 0 auto;
  position: relative;
}
.button {
  position: relative;
}
.countryContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  position: absolute;
  top: 40px;
  width: 100%;
  border: var(--black-300) 1px solid;
  border-radius: 4px;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 5px var(--neutral-07100-shadow);
  pointer-events: unset;
  background: var(--bg-main);
  gap: 8px;
  padding: 8px 0;
}
