.underlineLink {
  position: relative;
  display: inline-block;
  padding-right: 24px;
  font-family: var(--fontFamilyInter);
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 500;
  line-height: clamp(24px, 2vw, 28px);
  color: var(--text-main);
  letter-spacing: -0.4px;
  border-bottom: 1px solid var(--neutral-07100);
  cursor: pointer;
  @media (max-width: 576px) {
    padding-right: 20px;
  }

  &:hover .after {
    right: -10px;
  }
}

.after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  transition: right 0.2s;
  @media (max-width: 576px) {
    width: 16px;
    height: 16px;
  }
}
