.cartSection {
  padding: 80px 0;
  @media (max-width: 767px) {
    padding: 40px 0 80px 0;
  }
}

.title {
  margin-bottom: 40px;
  text-align: center;
  @media (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.steps {
}

.order {
  display: flex;
  flex-wrap: wrap;
  row-gap: 80px;
  column-gap: 64px;
  align-items: flex-start;
  padding-top: 80px;

  @media (max-width: 992px) {
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding-top: 40px;
    > form {
      order: 2;
    }
  }
}

.cartCoupon {
  max-width: 100%;
}

.orderTable {
  flex: 1 1 643px;
  @media (max-width: 992px) {
    flex: unset;
    width: 100%;
  }
}
