.select {
  position: relative;
  width: 100%;
  max-width: 280px;
  cursor: pointer;

  .selected {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 12px 17.5px 12px 14px;
    font-weight: 600;
    line-height: 20px;
    border: 2px solid var(--neutral-04100);
    border-radius: 8px;
  }

  &.active {
    .options {
      display: block;
    }
  }

  .options {
    position: absolute;
    top: 50px;
    z-index: 1;
    display: none;
    width: 100%;
    padding: 2px 10px;
    background: var(--elements-white);
    border: 2px solid var(--neutral-04100);
    border-radius: 8px;

    .item {
      a {
        display: inline-block;
        width: 100%;
        padding: 8px 0;
        font-weight: 600;
        line-height: 26px;
        color: var(--neutral-04100);
        text-align: left;
        transition: color 0.2s ease;

        @media (hover: hover) {
          &:hover {
            color: var(--neutral-07100);
          }
        }

        &:active {
          color: var(--neutral-07100);
        }
      }

      &.active > a {
        color: var(--neutral-07100);
      }
    }
  }
}
