.checkbox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  cursor: pointer;

  > a {
    margin-left: auto;
  }

  a {
    position: relative;
    font-family: var(--fontFamilyInter);
    font-size: clamp(12px, 3vw, 16px);
    font-weight: 600;
    line-height: clamp(20px, 3vw, 26px);
    color: var(--neutral-07100);

    &:active:after,
    &:focus:after {
      width: 100%;
    }

    @media (hover) {
      &:hover:after {
        width: 100%;
      }
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      min-width: 48px;
      height: 48px;
      content: '';
      transform: translateY(-50%);
    }

    &:after {
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 1px;
      content: '';
      background-color: var(--neutral-04100);
      transition: width 0.3s ease;
    }
  }

  input {
    position: absolute;
    width: 0;
    height: 0;
    cursor: pointer;
    opacity: 0;

    &:checked ~ .checkmark {
      background-color: var(--neutral-07100);
    }

    &:checked ~ .checkmark > svg {
      display: block;
    }
  }

  p {
    //margin-left: 12px;
    font-family: var(--fontFamilyInter);
    font-size: clamp(12px, 3vw, 16px);
    font-weight: 400;
    line-height: clamp(20px, 3vw, 26px);
    color: var(--neutral-04100);
  }
}

.checkmark {
  //position: absolute;
  //top: 50%;
  //left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--Neutrals-8);
  border: 1.5px solid var(--neutral-04100);
  border-radius: 4px;
  //transform: translateY(-50%);
  svg {
    display: none;
  }
}
