.header {
  //position: fixed;
  //top: 0;
  //left: 0;
  //width: 100%;
  background: var(--bg-main);
}
.headerMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.logo {
  display: flex;
}

.userInterface {
  display: flex;
  gap: 16px;
}
