.wrapViewSort {
  display: flex;
  gap: 35px;
  align-items: center;
}

.sort {
  position: relative;
}

.select {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
}

.selected {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: var(--Black-900);
  cursor: pointer;
}

.caret {
}

.menu {
  position: absolute;
  top: 105%;
  right: -20px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 312px;
  padding: 8px;
  pointer-events: none;
  background: var(--text-white);
  border: 1.5px solid var(--neutral-02100);

  border-radius: 12px;
  box-shadow: 0 64px 64px -48px rgba(15, 15, 15, 0.1);
  opacity: 0;

  li {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 296px;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    color: var(--neutral-04100);
    border-radius: 8px;

    &:hover {
      background-color: var(--neutral-02100);
    }
  }
}

.activeClick {
  pointer-events: unset;
  opacity: 1;
}

.item {
  width: 100%;
}

.viewWrap {
  display: flex;
  height: 40px;
  border: 1px solid var(--neutral-03100);
}

.view {
  padding: 8px 10px;
  cursor: pointer;

  &:not(:last-child) {
    border-right: 1px solid var(--neutral-03100);
  }

  path {
    fill: var(--neutral-04100);
    transition: fill 200ms;
  }

  &.active {
    pointer-events: none;

    path {
      fill: var(--neutral-07100);
    }
  }
}
