.basket {
  display: flex;
  gap: 6px;
  align-items: center;
}

.basketCount {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 0 6px;
  font-family: var(--fontFamilyInter);
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;

  color: var(--text-white);
  background: var(--neutral-07100);
  border-radius: 10px;
}

.userActivity {
  position: relative;
  display: flex;
}

.iconProfile {
  position: relative;

  &:before {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 6px;
    height: 6px;
    content: '';
    background: #cb0000;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 200ms;
  }

  &.activeCount:before {
    opacity: 1;
  }
}

.modal {
  position: absolute;
  top: calc(100% + 12px);
  right: 0;
  width: 320px;
  padding: 10px;
  pointer-events: none;
  background: var(--bg-main);
  border-radius: 10px;
  box-shadow: 0 0 5px var(--neutral-07100-shadow);
  opacity: 0;
  transition: opacity 200ms;

  &.isOpen {
    pointer-events: unset;
    opacity: 1;
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: var(--neutral-04100);
  letter-spacing: -0.4px;
  border-radius: 8px;

  &:not(:first-child):not(.active):before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background: var(--neutral-03100);
  }

  &.active {
    background: var(--neutral-03100);

    & + .link:before {
      display: none;
    }
  }
}

.profile {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 0;
}

.avatar {
}

.name {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: var(--neutral-07100, #141718);
}
