.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.flexContainer {
  display: flex;
  gap: 24px;
}

.row1 {
  flex-basis: 50%;
}

.row2 {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
    gap: 10px;
  }
  .row2 {
    flex: 0 0 auto;
    gap: 10px;
    height: 372px;
  }
}
