.linkWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;

  &:hover .link::after {
    left: 100px;
  }

  .link {
    color: var(--neutral-07100);
    font-family: var(--fontFamilyInter);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.4px;
    font-weight: 500;

    &:hover::after {
      left: 100px;
    }
    position: absolute;

    z-index: 2;

    &::after {
      content: '';
      background-image: url('/images/InteriorSolutions/arrowLink.svg');
      width: 20px;
      height: 20px;

      position: absolute;
      top: 50%;
      left: 90px;

      transform: translateY(-50%);
      transition: left 0.2s;
    }
    &::before {
      content: '';
      width: 110px;
      height: 1px;

      position: absolute;
      z-index: 1;
      bottom: -5px;
      left: 0;

      background-color: var(--neutral-07100);
      transition: width 0.2s;
    }
  }
}
