.goodsFlex {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.goodsWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  padding-bottom: 80px;

  @media (max-width: 426px) {
    row-gap: 16px;
    column-gap: 8px;
  }
}
.showMore {
  align-self: center;
}

/////
.flexWrap {
  display: flex;
  justify-content: space-between;
  max-height: 40px;
  margin-bottom: 40px;
}

.title {
  display: flex;
  gap: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px; /* 160% */
  color: var(--black-900);
}

.displayNone {
  @media (max-width: 850px) {
    display: none;
  }
}
