:root {
  --fontSize: 16px;
  --line-height: 160%;
  --app-height: 100vh;
  --minWidth: 375px;
  --maxWidthContainer: 1184px;

  --fontFamilyInter: 'Roboto';
  --fontFamilySpaceGrotesk: 'Roboto';

  --text-main: #141718;
  --text-white: #fff;
  --elements-white: #fff;
  --bg-main: #fff;
  --bg-footer: #141718;
  --neutral-04100: #6c7275;
  --neutral-07100: #141718;
  --neutral-07100-shadow: #14171860;
  --neutral-03100: #e8ecef;
  --neutral-01100: #fefefe;
}
