.filterWrap {
  display: flex;
  flex-basis: 262px;
  flex-direction: column;
  row-gap: 32px;
  min-width: 254px;
  @media (max-width: 1024px) {
    flex-basis: unset;
    min-width: 184px;
  }
  @media (max-width: 849px) {
    display: none;
  }
}
.title {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px; /* 160% */
  color: var(--black-900, #121212);
}
.filterName {
}
.filterTitle {
  padding-bottom: 9px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: var(--black-900, #121212);
  text-transform: uppercase;
}
.categoriesList {
  display: inline-flex;
  flex-direction: column;
  row-gap: 12px;
}
.filterItem {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
  color: var(--Black-500, #807e7e);
  cursor: pointer;

  label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .item {
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0px;
      height: 1px;
      background-color: var(--black-900);
      transition: width 200ms;
    }
  }
}
.itemActive {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
  color: var(--black-900);

  .item {
    &:before{
      width: 100%;
    }
  }
}
.categoriesListPrice {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  padding-right: 8px;
}
.filterPrice {
}
.labelCheckBox {
  flex: 1 auto;
  flex-direction: row-reverse;
  span {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #6c7275;
  }
}
