.social {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  li {
    width: 24px;
    height: 24px;
    a {
      display: inline-block;
      width: 24px;
      height: 24px;
    }
  }
  & > * {
    transition: opacity 200ms;

    &:hover {
      opacity: 0.8;
    }
  }
}
