.swiper {
  padding-bottom: 48px;
  .swiper-scrollbar-drag {
    background-color: black;
  }
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: black;
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  left: 0;
  top: 0;
}
